h1,h2,h3,h4,h5,h6,body,#container {
  margin: 0;
}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#042f6a+0,091423+100 */
	background: #042f6a;
	color: #EDEDED;
    font-size: 1.15em;
}

a:link {
	color: white;
}

header {
    font-size:0.8em;
	background-color: #2B74D8;
	color: white;
	border-bottom: 1px white solid;
}

nav {
    width: 100%;
    background-color: #333;
}

a,a:link,a:visited {
	color: #CCC;
	font-weight: bold;
}

a:hover {color: white !important;}
#container {
    max-width: 100%;
    margin: 0;
    background-color: #222;
}

.row {
    padding-left: 0.6em;
    padding-right: 0.6em;
    max-width:50em;
}

img {
  width:35em;
  max-width: 100%;
  margin: auto;
  display:block;
  max-height:auto;
  overflow-y: hidden;
  overflow-x: hidden;
}
