h1,h2,h3,h4,h5,h6,body,#container {
  margin: 0;
}

h1,h2 {
    border-left: none;
    border-right: none;
    border-bottom: solid 2px white;
    background-color: blue;
    text-align: center;
    width: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(left, blue) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, blue 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, blue 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */    
}

h3 {
    padding-left: .5em;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
    border: black 2px solid;
    background-color: #333;
}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#042f6a+0,091423+100 */
	background: #042f6a;
	color: #EDEDED;
    font-size: 1.15em;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
}

a:link {
    color: white;
}

.main-header {
    background: #0596d8;
    padding: 10px;
    box-shadow: 1px 2px 3px #ccc;
    color: white;
    /* display: flex; */
    display: inline-flex;
    flex-flow: row nowrap;
}

.main-header-content {
    flex: 1 0 auto;
}

a,a:link,a:visited {
	color: #CCC;
	font-weight: bold;
}

a:hover {color: white !important;}

#weird-flex-but-ok {
    display: flex;
    flex-direction: row;
    /* margin: auto -1rem 1rem; */
    
    height:100vh;
    min-height: min-content;
}

#container {
    background-color: #222;
    overflow-y: auto;
}


#side-nav {
    background: #111;
    order: 0;
    border-right: 1px solid #d9d9d9;
    min-width: 200px;
    max-width: 270px;
    overflow-y: auto;
}

#side-nav a:link {
    display:block;
    height: 1.2em;
    font-size: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-right: .5em;
}

#side-nav ul {
    text-align: right;
    width:100%;
    padding:0;
    margin-top:0px;
}

#side-nav li {
    background-color: #222;
    border-bottom: 1px red;
    align-items: center;
    margin-bottom: .4em;
    list-style: none;
    padding-right: 0.5em;
    padding:0
}

#side-nav li:hover {
    background-color: black;
}

section p {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

img {
  width:30em;
  flex-direction: column;
  max-width: 95%;
  margin: auto;
  display:block;
  max-height:auto;
  overflow-y: hidden;
  overflow-x: hidden;
}


/* Disable Sidebar Navigation if screen width too small to be useful */
@media (max-width: 480px) {
    #side-nav   {
        display:none;
        transition: all .3s;
    }
}